<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Ajax message</title>
</head>
<body>
    <header>
        <h1>Ajax message</h1>
        <a href="/">Homepage</a>
        <a href="guestbook">Guestbook</a>
        <a href="newmessage">New message</a>
        <a href="ajaxmessage" class="active">Ajax message</a>
    </header>
    
    <div id="gbcont">
        <form>
            <p id="inp">Username:</p><input id="uname" type="text"><br>
            <p id="inp">Country:</p><input id="country" type="text"><br>
            <p id="inp">Message:</p><textarea id="message"></textarea><br>
            <input id="subbut" type="button" value="Send message">
        </form>
        <ul id="ajlist"></ul>
    </div>

    <footer>Made by Vili Järvinen ~ 2023</footer>
    <script src="/jquery/jquery.js"></script>
    <script src="app.js"></script>
    <script src="ajmessage.js"></script>
</body>
</html>