<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Homepage</title>
</head>
<body>
    <h1>Homepage</h1>
    <a href="guestbook">Guestbook</a>
    <a href="newmessage">New message</a>
    <a href="ajaxmessage">Ajax message</a>
    <div id="cont">
        <div id="contchild">
            <p>This website is for a Fullstack development course</p>
            <p>contentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontent</p>
            <p>contentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontent</p>
            <p>contentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontent</p>
            <p>contentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontent</p>
            <p>contentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontent</p>
            <p>contentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontent</p>
            <p>contentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontent</p>
            <p>contentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontent</p>
            <p>contentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontent</p>
            <p>contentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontent</p>
            <p>contentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontentcontent</p>
        </div>
        <div id="contchild">
            <img id="contentimage" src="content.png"></img>
        </div>
    </div>
    <script src="/jquery/jquery.js"></script>
    <script src="app.js"></script>
</body>
</html>