<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Send a message</title>
</head>
<body>
    <h1>Send a message</h1>
    <a href="/">Homepage</a>
    <a href="guestbook">Guestbook</a>
    <a href="ajaxmessage">Ajax message</a>
    
    <form>
        <input id="uname" type="text">
        <input id="country" type="text">
        <input id="message" type="text">
        <input type="button" value="Send message">
    </form>

    <script src="jquery-3.6.4.js"></script>
    <script src="app.js"></script>
</body>
</html>