<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Send a message</title>
</head>
<body>
    <header>
        <h1>Send a message</h1>
        <a href="/">Homepage</a>
        <a href="guestbook">Guestbook</a>
        <a href="newmessage" class="active">New message</a>
        <a href="ajaxmessage">Ajax message</a>
    </header>
    
    <div id="gbcont">
    <h2>Add a new guestbook entry</h2>
    <form>
        <p id="inp">Username:</p><input id="uname" type="text"><br>
        <p id="inp">Country:</p><input id="country" type="text"><br>
        <p id="inp">Message:</p><textarea id="message"></textarea><br>
        <input id="subbut" type="button" value="Send message">
    </form>
    </div>

    <footer>Made by Vili Järvinen ~ 2023</footer>
    <script src="/jquery/jquery.js"></script>
    <script src="app.js"></script>
    <script src="nmessage.js"></script>
</body>
</html>