body {
    background: rgb(107, 107, 107);
    text-align: center;
}

h1 {
    font-size: 40px;
}

#cont {
    margin: 1em;
    padding: 2em 2em;
}

#contchild {
    display: inline-block;
    vertical-align: middle;
    padding: 1em 1em;
}

li {
    text-align: left;
    list-style-type: none;
    padding: 0.2em;
    width: 50%;
    max-width: 50%;
}

#key {
    font-size: 18px;
    font-weight: bold;
    display:inline;
    text-transform: capitalize;
}

#value {
    font-size: 16px;
    display:inline;
}

#gbcont {
    padding-top: 1em;
    width: 50%;
    left: 25%;
    right: 25%;
    position: relative;
    overflow: hidden;
}

#inp {
    display: inline-block;
    padding-top: 0.5em;
}

form {
    text-align: left;
    padding-top: 1em;
}

#uname, #country, #message {
    width: 100%;
}

#message {
    height:500px;
}